.screen{
    min-height: 100vh;
    margin: 0 auto;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}


.title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}