@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', monospace, sans-serif;
}

/* Apply variables */
body {
    --light-color: #f2f2f2;
    --dark-color: #2a2a2a;

    --nav-item-size: 1rem;
    --nav-item-active-size: 1.3rem;

    background-color: var(--background-color);
    color: var(--text-color);
}

body.light {

    /*Navbar variables*/
    --header-color: var(--dark-color);
    --header-shadow-color: var(--dark-color);

    /*Nav variables*/
    --nav-color: rgba(0, 0, 0, 0.7);
    --nav-scroll-color: white;

    --nav-glow-color: black;
    --nav-glow-scroll-color: white;

    /*Body variables*/
    --background-color: #f2f2f2;
    --text-color: black;
    --color-primary: black;

}

body.dark {
    /*Navbar variables*/
    --header-color: var(--light-color);
    --header-shadow-color: var(--light-color);

    /*Nav variables*/
    --nav-color: var(--light-color);
    --nav-scroll-color: var(--dark-color);

    --nav-glow-color: white;
    --nav-glow-scroll-color: black;

    --background-color: var(--dark-color);
    --text-color: white;
    --color-primary: var(--light-color);
}
